.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
}

.loginContainer {
  width: 384px;
  height: 556px;
  flex-direction: column;
}

.imageContainer {
  width: 180px;
  height: 148px;
}

.emailContainer {
  flex-direction: column;
  width: 100%;
  height: 112px;
  margin-top: 56px;
}

.emailContainer label {
  height: 21px;
  width: 100%;
}

.email {
  margin-bottom: 8px;
}

.field {
  height: 56px;
  width: 100%;

  margin-top: 8px;
}

.passwordContainer {
  flex-direction: column;
  width: 100%;
  height: 85px;
  margin-top: 24px;
}

.passwordContainer label {
  height: 21px;
  width: 100%;
}

.buttonContainer {
  flex-direction: column;
  width: 100%;
  height: 99px;
  justify-content: space-between;
  margin-top: 32px;
}

.buttonContainer label {
  height: 19px;
  width: 100%;
}
